// ? Обнуление элементов
html {
    scroll-behavior: smooth;
}

@import url(/assets/css/fonts.css);

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
    text-decoration: none;
    color: inherit;
    margin: 0;
    list-style: none;
    padding: 0;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Century Gothic";
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: var(--black);
}

:root {
    --orange: #ff6b00;
    --white: #ffffff;
    --black: #000000;
    --grey: #444444;
    --dark__orange: #f65c2c;
}

// ? Обнуление элементов 

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1246;
$md1: $maxWidthContainer+12;
$md2: 1000.01;
$md3: 768.01;
$md4: 480.01;

.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
}

// ? Шапкпа
.header {
    padding-top: 100px;
    background: url(/assets/images/about-page/header/header-bg.png) 50%/cover no-repeat;
    height: 872px;
}

@import "./includes/header";

.header-body {
    margin-top: 127px;

    & iframe {
        border-radius: 20px;
    }
}

// ! Стили видео iframe
.embed-container {
    position: relative;
    // padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    & iframe,
    & object,
    & embed {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// ! Стили видео iframe
// ? Шапкпа


// ? Информации о сайте
.about-info {
    margin-top: 210px;

    & ol {
        text-decoration: none;
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    & li {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        counter-increment: step-counter;
        justify-content: center;
        height: 245px;
        max-width: 100%;
    }


    &__content {
        max-width: 80%;
    }

    & ol li::before {
        content: counter(step-counter);
        font-size: 12.5rem;
        color: #f65c2c;
        font-family: "Century Gothic-bold";
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-size: 2.5rem;
        margin-bottom: 16px;
        color: var(--grey);
        font-family: "Century Gothic-bold";
    }

    &__subtitle {
        max-width: 100%;
    }
}

// ? Информации о сайте

.founder {
    display: flex;
    flex-direction: row;

    // max-width: 1438px;
    // max-height: 814px;
    &__container {
        display: flex;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            // width: 647px;
            // height: 208px;
            font-size: 4.2rem;
            line-height: 100px;
            color: #000000;
            line-height: 70px;

            h2 {
                margin: 0;
                font-weight: 400;
            }
        }

        &__decor {
            font-size: 200px;
            font-family: "Century Gothic-bold";
            margin: 0;
            line-height: 245px;
            display: flex;
            height: 145px;
        }

        &__subtitle {
            // width: 514px;
            // height: 61px;
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 400;
            font-size: 3.13rem;
            line-height: 61px;
            margin: 40px 0 30px 0;
            color: #000000;
        }

        &__text {
            // width: 515px;
            // height: 198px;
            font-family: 'Century Gothic';
            font-style: normal;
            font-weight: 400;
            font-size: 1.13rem;
            line-height: 22px;
            color: #000000;
        }
    }

    &__img {
        width: 700px;

        & img {
            max-width: 100%;
        }
    }
}

.networks {
    padding: 0;
    margin: 66px 0 0 0;

    &__list {
        display: flex;
        width: 100px;
        padding: 0;
        align-items: center;
    }

    &__item {
        margin-right: 10px;
        width: 24px;
        height: 24px;

        &:hover {
            cursor: pointer;

            svg {
                path {
                    fill: #ff6b00;
                }
            }
        }

    }
}

// ? Футер
.footer {
    background: url(/assets/images/about-page/footer/footer-bg.png) no-repeat;
    background-size: cover;
    height: 707px;
    width: 100%;
    padding-top: 269px;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: grid;
        color: var(--white);
    }

    &__title {
        font-family: "Century Gothic-bold";
        font-size: 2.5rem;
        margin-bottom: 53px;
    }

    &__link {
        font-size: 1.875rem;
        font-family: "Roboto";
    }
}

// ? Футер

// ? Медиазапросы
@media (max-width: 1216px) {
    .header {
        height: 700px;
    }

    .header-top {
        font-size: 1rem;
    }

    .language {
        &__check-style {
            width: 16px;
            height: 16px;
        }
    }

    .about-info {
        margin-top: 302px;
    }

    .footer {
        height: 423px;
        padding-top: 153px;

        &__title {
            font-size: 1.875rem;
            margin-bottom: 42px;
        }

        &__link {
            font-size: 1.375rem;

        }
    }
}

@media (max-width: 1000px) {
    .header {
        height: 586px;
    }

    .navbar {
        display: none;
    }

    .header-top-right {
        &__burger {
            display: block;
        }

        &__contact {
            margin-right: 20px;
        }
    }

    .header-body {
        margin-top: 68px;

    }

    .about-info {
        margin-top: 224px;

        & ol li::before {
            font-size: 10.3125rem;
            justify-content: start;
        }

        &__title {
            font-size: 2rem;
        }

        &__subtitle {
            font-size: 1rem;
        }
    }

    .footer {
        &__title {
            font-size: 1.375rem;
            margin-bottom: 30px;
        }

        &__link {
            font-size: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .header {
        height: 443px;
    }

    .language {
        width: 30px;

        &__label {
            margin: 0;
            align-items: center;

            &__check-style {
                width: 13px;
                height: 13px;
            }
        }

        &__check-style {
            margin-left: 24px;
        }
    }

    .header-body {
        margin-top: 60px;

    }

    .about-info {
        margin-top: 283px;

        &__title {
            font-size: 1.5rem;
        }

        &__subtitle {
            font-size: 0.875rem;
        }
    }

    .footer {
        height: 384px;

        &__title {
            font-size: 1.25rem;
            margin-bottom: 28px;
        }

        &__link {
            font-size: 0.875rem;
        }
    }
}

@media (max-width: 700px) {
    .about-info {
        margin-top: 200px;
    }
}

@media (max-width: 576px) {
    .header-top-right {
        font-size: 1rem;
    }

    .logo {
        width: 164px;

        & img {
            width: 164px;
        }
    }

    .language {
        margin: 0;
        margin-right: 10px;
    }

    .contact {
        margin: 12px;
    }

    .header-body {
        margin-top: 50px;
    }

    .about-info {
        margin-top: 110px;

        &__content {
            max-width: 70%;
        }
    }
}

@media (max-width: 480px) {
    .header {
        padding-top: 30px;
        height: 249px;
    }

    .contact {
        display: none;
    }

    .language {
        display: none;
    }

    .header-body {
        margin-top: 42px;

    }

    .about-info {
        margin-top: 139px;

        & li {
            margin-bottom: 20px;
        }

        &__title {
            font-size: 1.125rem;
        }

        &__subtitle {
            font-size: 0.875rem;
        }
    }

    .footer {
        height: 251px;
        padding-top: 91px;

        &__title {
            font-size: 0.875rem;
            margin-bottom: 18px;
        }

        &__link {
            font-size: 0.625rem;
        }
    }
}

@media (max-width: 360px) {
    .about-info {
        & li {
            margin-bottom: 60px;
        }

        &__content {
            max-width: 68%;
        }
    }
}

// ? Медиазапросы