// Fonts
@font-face
  font-family: Century Gothic Bold
  src: url('/assets/fonts/Century Gothic/centurygothic_bold.ttf')

@font-face
  font-family: Century Gothic
  src: url('/assets/fonts/Century Gothic/centurygothic.ttf')

*
  // box-sizing: border-box


html
  overflow-x: hidden

body
  margin: 0
  padding: 0







  // шапка

.header
  width: 100%
  height: 54.5em
  margin-right: 0 auto
  background-image: url('../images/wavy-background-up.png')
  background-size: 120em
  background-repeat: no-repeat
  padding-top: 6.25em

  &__inner
    width: 75.9em
    height: 54.5em
    margin: auto
    align-items: center
  &__nav
    align-items: center
    width: 76em
    height: 3.7em
    display: flex
    font-size: 1.01em
  &__nav-logo
    width: 13.5em
    height: 3.6875em

.menu
  display: flex
  width: 42.5em
  display: flex
  &__item
    padding-left: 3.125em
    color: white
    margin: 0 1.25em
    font-family: Century Gothic Bold
    text-decoration: none
  li
    list-style: none
  &__burger
    display: none
    cursor: pointer
    .bar
      display: block
      width: 25px 
      height: 3px
      margin: 5px auto 
      -webkit-transition: all 0.3s ease-in-out
      transition: all 0.3s ease-in-out
      background-color: white

.language
  width: 5.375em
  color: white
  justify-content: center
  margin: 0 1.25em
  font-family: Century Gothic Bold

.contact
  justify-content: center
  width: 13.9375em
  color: white
  font-family: Century Gothic Bold
  img
    height: 1.25em
    padding: 0 0.625em 0 0

.header__main
  justify-items: center
  align-items: center
  width: 25em
  height: 9.375em
  h1
    width: 56.875em
    font-family: 'Century Gothic Bold'
    font-size: 5.625em
    color: #fff
    margin-top: 1.1em
  .main
    display: flex
    &__block
      display: flex
      align-items: center
      margin-top: -2em
      margin-right: 12.5em

    &__btn
      font-family: Century Gothic Bold
      font-size: 1.0625em
      text-decoration: none
      color: #ffffff
      background: none
      border: 0.1875em solid #ffffff
      border-radius: 3.125em
      width: 15.3125em
      height: 3.75em
      margin-right: 1.25em
      cursor: pointer
    .academic-cap
      width: 37.24em
      height: 22.8725em
      transform: rotate(-1deg)
      margin-top: -13.8125em
      margin-left: 6.25em






  // первый раздел

.first-section
  text-align: center
  width: 76em
  display: flex
  justify-content: center
  margin: 0 auto
  h2
    font-family: Century Gothic Bold
    display: flex
    align-items: center
    justify-content: center
    font-size: 3.125em
  &__btn
    padding: 0.625em 1.5625em
    font-family: "Roboto", sans-serif
    font-weight: 500
    background: transparent
    outline: none !important
    cursor: pointer
    transition: all 0.5s ease
    position: relative
    display: inline-block
    text-decoration: none
    font-size: 1.5625em
    margin-bottom: 3.75em
    padding: 0.625em
  &__bttn
    font-family: Century Gothic Bold
    border: 0.125em solid rgb(246, 92, 44)
    height: 3.75em
    display: flex
    align-items: center
    justify-content: center
    z-index: 1
    color: red
    border-radius: 3.125em
    &:hover
      background-color: #FF6B00
      color: #ffffff
    &:hover
      color: rgb(255, 255, 255)
      &:after
        top: auto
        bottom: 0
        height: 100%






  // второй раздел

.second-section
  width: 76em
  height: 19.625em
  left: 354px
  top: 1143px
  background: #FFFFFF
  box-shadow: 0px 20px 50px rgba(38, 38, 38, 0.1)
  border-radius: 25px
  display: flex
  justify-content: space-between
  margin: 0 auto

  &__block-first
    width: 22.4375em
    .tittle
      margin-top: 35px
      padding-left: 55px
      height: 25px
      display: flex
      font-family: 'Century Gothic'
      font-style: normal
      font-weight: 400
      font-size: 20px
      line-height: 25px
      .radio
        margin-right: 19px
        width: 19px
        height: 19px
        border-radius: 50%
        border: 2px solid rgba(246, 92, 44, 1)
        cursor: pointer
        transition: 0.5s
        &:hover
          border: 6px solid rgba(246, 92, 44, 1)
    h2
      width: 22.4375em
      height: 36px
      font-family: 'Century Gothic Bold'
      font-style: normal
      font-weight: 700
      font-size: 30px
      line-height: 37px
      margin-top: 44px
      margin-left: 55px
  &__block-second
    width: 22.4375em
    .tittle
      margin-top: 35px
      padding-left: 55px
      height: 25px
      display: flex
      font-family: 'Century Gothic'
      font-style: normal
      font-weight: 400
      font-size: 20px
      line-height: 25px
      .radio
        margin-right: 19px
        width: 19px
        height: 19px
        border-radius: 50%
        border: 2px solid rgba(246, 92, 44, 1)
        cursor: pointer
        transition: 0.5s
        &:hover
          border: 6px solid rgba(246, 92, 44, 1)
    h2
      width: 9.375em
      height: 37px
      font-family: 'Century Gothic Bold'
      font-style: normal
      font-weight: 700
      font-size: 30px
      line-height: 37px
      margin-top: 44px
      margin-left: 55px
  &__block-third
    width: 22.4375em
    margin-right: 60px
    button
      margin-top: 42px
      margin-left: 100px
      width: 144px
      height: 35px
      border: 2px solid rgba(246, 92, 44, 1)
      border-radius: 50px
      background-color: #fff
      text-decoration: none
      color: #ff6b00
      transition: all 0.5s ease
      cursor: pointer
      &:hover
        background-color: #FF6B00
        color: #fff
      p
        width: 98px
        height: 12px
        font-family: 'Century Gothic Bold'
        font-style: normal
        font-weight: 700
        font-size: 10px
        line-height: 12px
        text-align: center

    h2
      width: 13.6875em
      height: 37px
      font-family: 'Century Gothic Bold'
      font-style: normal
      font-weight: 700
      font-size: 30px
      line-height: 37px
      margin-top: 44px
    p
      font-family: 'Century Gothic'
      font-style: normal
      font-weight: 400
      font-size: 20px
      line-height: 25px
      margin-left: 17px

    input[type=range]
      height: 31px
      -webkit-appearance: none
      margin: 10px 0
      width: 258px
      &:focus
        outline: none
      &::-webkit-slider-runnable-track
        width: 100%
        height: 2px
        cursor: pointer
        animate: 0.2s
        box-shadow: 0px 0px 0px #000000
        background: #FF6B00
        border-radius: 0px
        border: 0px solid #010101
      &::-webkit-slider-thumb
        box-shadow: 0px 0px 0px #000031
        border: 1px solid #00001E
        height: 24px
        width: 24px
        border-radius: 50px
        background: #FFFFFF
        cursor: pointer
        -webkit-appearance: none
        margin-top: -11.5px
      &:focus::-webkit-slider-runnable-track
        background: #FF6B00
      &::-moz-range-track
        width: 100%
        height: 2px
        cursor: pointer
        animate: 0.2s
        box-shadow: 0px 0px 0px #000000
        background: #FF6B00
        border-radius: 0px
        border: 0px solid #010101
      &::-moz-range-thumb
        box-shadow: 0px 0px 0px #000031
        border: 1px solid #00001E
        height: 24px
        width: 24px
        border-radius: 50px
        background: #FFFFFF
        cursor: pointer
      &::-ms-track
        width: 100%
        height: 2px
        cursor: pointer
        animate: 0.2s
        background: transparent
        border-color: transparent
        color: transparent
      &::-ms-fill-lower, &::-ms-fill-upper
        background: #FF6B00
        border: 0px solid #010101
        border-radius: 0px
        box-shadow: 0px 0px 0px #000000
      &::-ms-thumb
        margin-top: 1px
        box-shadow: 0px 0px 0px #000031
        border: 1px solid #00001E
        height: 24px
        width: 24px
        border-radius: 50px
        background: #FFFFFF
        cursor: pointer
  &:focus
    &::-ms-fill-lower, &::-ms-fill-upper
      background: #FF6B00








  // третий раздел

.third-section
  width: 76em !important
  margin-top: 2.1875em
  margin-top: 35px
  h3
    font-family: 'Century Gothic Bold'
    font-style: normal
    font-weight: 700
    font-size: 25px
    line-height: 31px
    text-align: center
  &__card
    border-radius: 20px
    margin-left: 20px
    width: 597px
    height: 235px
    border: 2px solid #FF6B00
    transition: 0.5s
    cursor: pointer
    &:hover
      background-color: #FF6B00
      color: #ffffff

  &__elem-first
    display: flex
    p
      margin-top: 30px
      margin-left: 26px
      width: 113px
      height: 25px
      font-family: 'Century Gothic'
      font-style: normal
      font-weight: 400
      font-size: 20px
      line-height: 25px
      text-align: center
    .elem-a
      margin-left: 26px
      h4
        width: 274px
        height: 62px
        font-family: 'Century Gothic'
        font-style: normal
        font-weight: 700
        font-size: 25px
        line-height: 31px
        margin-top: 22px
    .elem-b
      img
        width: 148px
        height: 149px
        margin-left: -60px
        margin-top: -57px
    .elem-c
      margin-top: 28px
      margin-left: 20px
      button
        width: 144px
        height: 35px
        border: 2px solid rgba(246, 92, 44, 1)
        background-color: #ffffff
        border-radius: 50px
        font-family: 'Century Gothic'
        font-size: 10px
        p
          width: 128px
          height: 12px
  &__elem-second
    width: 570px
    display: flex
    justify-content: space-between
    p
      font-family: 'Century Gothic'
      font-style: normal
      font-weight: 400
      font-size: 15px
      line-height: 18px
      text-align: center









  // четвертый раздел

.fourth-section
  width: 76em !important
  margin-left: 2.625em
  margin-top: 8.125em
  display: flex
  &__tittle
    p
      width: 506px
      font-style: normal
      font-weight: 400
      font-size: 100px
      line-height: 123px
    .p-first
      margin-top: -80px
    .p-second
      width: 391px
      height: 52px
      font-style: normal
      font-weight: 700
      font-size: 50px
      line-height: 61px
      margin-top: 189px
    .p-third
      width: 426px
      height: 42px
      font-style: normal
      font-weight: 400
      font-size: 35px
      line-height: 43px







  // пятый раздел

.fifth-section
  margin-left: 42px
  p
    width: 45.5625em
    height: 172px
    font-style: normal
    font-weight: 700
    font-size: 70px
    line-height: 86px
  .p-first
    margin-top: -150px
  &__system-aproach
    width: 74.813em
    height: 17.75em
    margin-top: -5.5em
    display: flex
    justify-content: center
    margin-left: -0.75em
    .elements
      width: 13.688em
      height: 17.75em
      margin-left: 1.25em
    .round
      width: 219px
      height: 219px
      border: 1px solid rgba(246, 92, 44, 1)
      border-radius: 50%
      .practice
        margin-top: -2px
        margin-left: 41px
      .job
        margin-left: 7px
      img
        margin: 50px
      p
        width: 168px
        height: 31px
        font-family: 'Century Gothic'
        font-style: normal
        font-weight: 400
        font-size: 25px
        line-height: 31px
        margin: 0 auto
        margin-top: 15px









  // шестой раздел

.sixth-section
  whith: 1216px
  margin-top: 50px
  h5
    text-align: center
    font-family: 'Century Gothic'
    font-style: normal
    font-weight: 700
    font-size: 70px
    line-height: 86px
    margin: 0 auto
    margin-bottom: 25px
  .bottom-elements
    display: flex
  &__first-element
    img
      width: 1260px
      height: 733px






  // седьмой раздел

.seventh-section
  width: 1216px
  h4
    font-weight: 700
    font-size: 100px
    line-height: 96%
    margin-top: 40px
    margin-left: 10px
  h5
    font-style: normal
    font-weight: 700
    font-size: 100px
    line-height: 96%
    margin-top: -130px
    margin-left: 10px
  p
    font-family: 'Century Gothic'
    font-style: normal
    font-weight: 400
    font-size: 28px
    line-height: 34px
    margin-top: -95px
    margin-left: 10px
  &__block
    border: 1px solid
    width: 1216px
    height: 602px
    display: flex !important
  .first-element
    width: 593px
    height: 595px









  // восьмой раздел

.eighth-section
  h5
    text-align: center
    font-family: 'Century Gothic'
    font-style: normal
    font-weight: 700
    font-size: 6.25em
    line-height: 123px
  &__block
    margin: 0 auto
    width: 76em
    height: 32.563em
    left: 22em
    top: 466.125em
    background: #FFFFFF
    box-shadow: 0px 1.25em 3.125em rgba(38, 38, 38, 0.1)
    border-radius: 3.125em
    .f-name
      width: 392px
      margin-top: 40px
      margin-left: 103px
    .s-name
      width: 578px
      margin-left: 40px
    .email
      width: 650px
      margin-left: 103px
      margin-top: 40px
    .phone
      width: 650px
      margin-left: 103px
      margin-top: 40px
    .submit
      font-family: 'Century Gothic'
      background-color: #FF6B00
      width: 300px
      height: 60px
      border-radius: 50px
      color: #fff
      font-size: 17px
      border: none
      margin-left: 103px
      margin-top: -22px
      cursor: pointer
  .frame
    border-radius: 50px
    height: 80px
    background-color: #fff
    border: 2px solid #FF6B00
    font-family: 'Century Gothic'
    font-size: 30px
  input
    &::placeholder
      padding-left: 50px
  .name
    width: 392px
    margin-left: 103px
  img
    width: 300px
    height: 300px
    margin-left: 857px
    margin-top: -233px








  // футер

.footer
  width: 120em
  height: 54.5em
  margin-top: 8.125em
  background-image: url('../images/wavy-background-down.png')
  background-size: 100%
  background-repeat: no-repeat
  background-size: cover
  &__block-first
    display: flex
    justify-content: center
    a
      text-decoration: none
    h6
      margin-left: 100px
      margin-right: 100px
      margin-top: 160px
      font-family: 'Century Gothic'
      font-style: normal
      font-weight: 700
      font-size: 40px
      line-height: 49px
      color: #fff
    p
      margin-left: 100px
      margin-right: 100px
      font-family: 'Century Gothic'
      font-style: normal
      font-weight: 400
      font-size: 30px
      line-height: 37px
      color: #fff
  &__block-second
    margin-top: 166px
    width: 1216
    height: 60px
    display: flex
    align-items: center
  .logo
    margin-left: 270px
  .social
    margin-left: 985px
