@import url(/assets/css/fonts.css);
html {
  scroll-behavior: smooth;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
  text-decoration: none;
  color: inherit;
  margin: 0;
  list-style: none;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Century Gothic";
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: var(--black);
}

:root {
  --orange: #ff6b00;
  --white: #ffffff;
  --black: #000000;
  --grey: #444444;
  --dark__orange: #f65c2c;
}

.container {
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-course {
  padding-top: 100px;
}
.about-course__contnent {
  display: flex;
  justify-content: space-between;
}
.a {
  width: 40%;
  display: flex;
}

.about-course-detailes__subtitles {
  flex-wrap: wrap;
}
.level {
  width: 100%;
}
.level__title {
  font-size: 5rem;
  max-width: 60%;
}
.level__card {
  max-width: 100%;
}

.level-card {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  max-width: 100%;
}
.level-card__img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.level-card__title {
  font-size: 1.25rem;
  margin-bottom: 18px;
  max-width: 100%;
}
.level-card__subtitle {
  font-size: 0.9375rem;
  max-width: 100%;
}

.level__content {
  position: relative;
  max-width: 100%;
  display: flex;
  margin: 0 auto;
}

.level-card {
  max-width: 100%;
}

.level__content .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 44px;
  height: 44px;
}

@media (max-width: 768px) {
  .level__content .slick-arrow.slick-prev {
    left: 0;
  }

  .level__content .slick-arrow.slick-next {
    right: 0;
  }
}
.level__content .slick-arrow.slick-prev {
  left: 0;
  background: url(/assets/images/arrow.svg) 0 0 no-repeat;
}

.level__content .slick-arrow.slick-next {
  right: 0;
  background: url(/assets/images/arrow.svg) 0 0 no-repeat;
  transform: rotate(180deg);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.draggable {
  margin: 0 auto;
}

.slick-slide {
  max-width: 100%;
}

.learn__title {
  font-size: 5rem;
  max-width: 40%;
  font-family: "Century Gothic-Bold";
}
.learn__content ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.learn li {
  list-style-type: decimal-leading-zero;
  flex-direction: column;
  flex-wrap: wrap;
  counter-increment: counter(step-counter);
  max-width: 26%;
  margin-bottom: 40px;
}
.learn ol li::before {
  content: counter(list);
  list-style-type: decimal-leading-zero;
  font-size: 3.125rem;
  font-family: "Century Gothic-bold";
  margin-bottom: 20px;
  color: #000000;
}

.learn-card__title {
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.learn-card__subtitle {
  font-size: 0.938rem;
}

@media (max-width: 1000px) {
  .learn__title {
    font-size: 3.125rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .learn li {
    max-width: 45%;
  }
  .learn ol li::before {
    font-size: 3.875rem;
  }

  .learn-card__title {
    font-size: 1.5rem;
  }
  .learn-card__subtitle {
    font-size: 1.125rem;
  }

  .level-card__title {
    font-size: 1rem;
  }
  .level-card__subtitle {
    font-size: 0.875rem;
  }
}
@media (max-width: 768px) {
  .learn li {
    max-width: 45%;
  }
  .learn ol li::before {
    list-style: decimal-leading-zero;
    content: counter(decimal-leading-zero);
    font-size: 3.875rem;
    color: #000;
    font-family: "Century Gothic-bold";
    margin-bottom: 20px;
  }

  .learn-card__title {
    font-size: 1.25rem;
  }
  .learn-card__subtitle {
    font-size: 0.938rem;
  }
}
@media (max-width: 480px) {
  .learn__title {
    font-size: 1.875rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .learn__title {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .learn li {
    max-width: 100%;
  }
  .learn ol li::before {
    font-size: 3.875rem;
  }

  .learn-card__title {
    font-size: 1.125rem;
  }
  .learn-card__subtitle {
    font-size: 0.938rem;
  }
}

/*# sourceMappingURL=course.css.map */
